body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: CeraProBlack;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: CeraProLight;
  src: url("static/fonts/Cera Pro Light.otf");
}

@font-face {
  font-family: CeraProRegularItalic;
  src: url("static/fonts/Cera Pro Regular Italic.otf");
}

@font-face {
  font-family: CeraProMedium;
  src: url("static/fonts/Cera Pro Medium.otf");
}

@font-face {
  font-family: CeraProBlack;
  src: url("static/fonts/Cera Pro Black.otf");
}

@font-face {
  font-family: CeraProBlackItalic;
  src: url("static/fonts/Cera Pro Black Italic.otf");
}
