.page-favorites {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: black;
    font-family: CeraProMedium;
    color: white;
  }

  h1 {
    text-align: center;
    margin: 100px 0px;
  }

  p {
    background: black;
    padding: 3px 5px;
  }

  .favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    max-width: 350px;
    max-height: 350px;
    border: 1px solid white;
  }

  .contain-card {
    height: 350px;
    width: 350px;
    max-height: 350px;
    max-width: 350px;
  }

  img {
    max-width: 100%;
  }

  .card-meta {
    bottom: 0px;
    left: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }

  .card-content {
    transition: all 2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
  }

  .content {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content i {
    font-size: 36px;
    margin: 15px 5px 0px;
    cursor: pointer;
    color: black;
  }

  .card-back {
    transform: rotateY(180deg);
    /* to rotate it towards right */
  }
  .card:hover .card-front {
    transform: rotateY(-180deg);
    /* to rotate it towards left */
  }
  .card:hover .card-back {
    transform: rotateY(0);
    /* show backside of card on hover */
  }
}
