.page-payment {
  background-image: url("../static/300ppi/pannelFichier 3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: black;
    font-family: CeraProMedium;
  }

  /* HEADER */

  .header#header-scroll {
    display: block !important;
  }

  /* CONTAINER CONTENT */

  .light /* TEXTE SPAN */ {
    font-family: CeraProLight;
    margin-top: 5px;
  }

  .section-payment {
    width: 500px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-radius: 2px;
    padding: 50px 0px;
  }

  .section-payment .pay-with-stripe {
    font-family: CeraProMedium;
  }

  .section-payment .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }

  .section-payment .form .field {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-payment .form .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-payment .form .numbers .field-number-mm,
  .section-payment .form .numbers .field-number-yy {
    margin: 10px 5px;
  }

  .section-payment .form .numbers .field-number-mm input {
    width: 41px;
    height: 22px;
  }

  .section-payment .form .numbers .field-number-yy input {
    width: 37px;
    height: 22px;
  }

  .section-payment .form .numbers .field-number-cvc {
    margin: 10px 5px 10px 15px;
  }

  .section-payment .form .numbers .field-number-cvc input {
    width: 47px;
    height: 22px;
  }

  .section-payment .form .field {
    margin: 10px 0;
    border: 1px solid rgba(177, 176, 176, 0.527);
    border-radius: 2px;
    /* -moz-box-shadow: 4px 4px 10px #888;  
    -webkit-box-shadow: 4px 4px 10px #888;  
    box-shadow:4px 4px 6px #888; */
  }

  .section-payment .form .field input {
    text-align: center;
    /* padding: 10px; */
    width: 100%;
    height: 30px;
    font-family: CeraProLight;
    border: none;
  }

  .section-payment .payment {
    cursor: pointer;
    margin: 10px;
    background: green;
    color: white;
    width: 90%;
    height: 35px;
    border-radius: 2px;
    border: none;
    transition: 0.5s;
    /* -moz-box-shadow: 4px 4px 10px #888;  
    -webkit-box-shadow: 4px 4px 10px #888;  
    box-shadow:4px 4px 6px #888; */
  }

  .section-payment .payment:hover {
    transform: scale(1.1);
  }

  .section-payment .paypal {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #0079c1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
  }

  .section-payment .paypal:hover {
    transform: scale(1.1);
  }

  .section-payment .button-pay-apple {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: black;
    margin: 4px 0 7px 0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
  }

  .section-payment .button-pay-apple:hover {
    transform: scale(1.1);
  }

  .section-payment .promo {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .section-payment .promo-code {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-payment .promo .input-promo-code {
    width: 80%;
    height: 20px;
  }

  .section-payment .promo .input-promo-code input {
    height: 20px;
    width: 100%;
    border: 1px solid rgba(177, 176, 176, 0.527);
    border-radius: 2px;
    font-family: CeraProLight;
  }

  .section-payment .promo button {
    width: 15%;
    border: none;
    border-radius: 2px;
    height: 20px;
    background: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }

  .section-payment .promo button:hover {
    transform: scale(1.1);
  }

  /* RESPONSIVE */

  @media (max-width: 350px) {
    .section-payment .form,
    .section-payment .promo {
      width: 340px;
    }
  }

  @media (max-width: 340px) {
    .section-payment .form,
    .section-payment .promo {
      width: 330px;
    }
  }

  @media (max-width: 330px) {
    .section-payment .form,
    .section-payment .promo {
      width: 320px;
    }
  }

  @media (max-width: 320px) {
    .section-payment .form,
    .section-payment .promo {
      width: 310px;
    }
  }

  @media (max-width: 310px) {
    .section-payment .form,
    .section-payment .promo {
      width: 300px;
    }
  }

  @media (max-width: 300px) {
    .section-payment .form,
    .section-payment .promo {
      width: 260px;
    }
  }

  /* HEIGHT */

  @media (max-height: 740px) {
    .section-payment {
      margin: 105px;
    }
  }

  @media (max-height: 500px) {
    .section-payment {
      margin: 55px;
    }
  }
}
